extends layout
block content
    header.card-header
        h5.card-title Driver Details
        div.form-row
            div.col.form-group
                a(href='/driver') Create New Driver
        div.form-row
            div.col.form-group.col-md-12   
                form.search(action='/driver/getDriver')
                    div.form-row
                        div.col-md-8
                            input.form-control(name='gender' placeholder="Enter your search term (e.g. gender) ...")
                        div.col-md-4
                            input.btn.btn-dark.btn-block(type="submit")
        table.table.table-striped.table-hover
            thead.thead(style='color: rgb(187, 204, 236);')
                tr
                    th Photo
                    th Full Name
                    th DOB
                    th Gender
                    th NIN
                    th License Number
                    th Residence
                    th Performance Record
                    th Details
            tbody
                if drivers.length 
                each driver in drivers ? drivers : [] 
                    tr 
                        td  
                            img(src='/'+driver.fileUpload, style='width:50px; height:50px; object-fit: cover;')
                        td  #{driver.fname+' '+driver.lname}
                        td  #{driver.dob}
                        td  #{driver.gender}
                        td  #{driver.n_id}
                        td  #{driver.license}
                        td  #{driver.residence}
                        td  #{driver.dperf}
                        td  #{driver.ddetails}
                        td
                            a(href='/driver/update/'+driver._id) Update
                        td
                            form(method="post" action='/driver/delete')
                                input(type="hidden", placeholder="", name="id", value=driver._id)
                                button.btn.btn-dark.btn-block(type="submit") Delete
        div.form-row
            div.pull-right
                a(class='button', href='/home') Home Page
